@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {

    --primary-color: #054b63;
    --secondary-color: #fffffa;
    --accent1-color: #44a1a0;
    --accent2-color: #96cac9;

    --heading-font: "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;

    --nav-background-color: #054b63;
    --nav-link-color: #fffffa;
    --nav-hover-link-color: #96cac9;
    --nav-hover-background-color: #44a1a0;

}

body {
    font-family: var(--paragraph-font);
    margin: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

.sociallinks {
    position: absolute;
    right: 20px;
    margin-bottom: 40px;
}

.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
    left: 0;
    top: 0;
}

.hero img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 50px;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 2rem;
    display: block;
    z-index: 1;
    text-align: center;
}

article {
    position: absolute;
    top: 200px;
    left: 6%;
    background-color: rgba(5, 75, 99, 0.9);
    color: var(--secondary-color);
    max-width: calc(100% - 100px);
    height: auto;
    padding: 20px;
    display: block;
}

article img {
    float: right;
    max-width: 200px;
}

p {
    padding: 25px;
}

.grid {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--primary-color);

}

.logo {
    margin: 0 0.25rem 0 1rem;
    width: 100px;
    height: auto;
    grid-column: 2 / 3;
}

.menu {
    display: flex;
    text-align: right;
    grid-column: 3 / 4;
}

.menu a {
    flex: 1 1 100%;
    display: block;
    color: var(--primary-color);
    padding: 10px;
    text-decoration: none;
}

.menu a:hover {
    color: var(--nav-hover-link-color);
    font-weight: 700;
    text-decoration: underline;
}

section img {
    margin-bottom: 40px !important;
}

.history h2 {
    text-align: center;
}

.history div {
    display: flex;
}

.history-img {
    width: 400px !important;
}

.adventure h2 {
    text-align: center;
}

.adventure-figs {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adventure-imgs {
    width: 250px !important;
    margin: 0 auto;
}

footer p {
    text-align: center;
}

#contactInfo {
    position: relative;
    top: 30px;
    padding-left: 20px;
    font-size: 2rem;
    background-color: transparent;
    display: block;
    text-align: left;
}

.contact-div {
    display: flex;
    flex-direction: row;
}

.contact-info {
    padding: 40px;
    padding-left: 5px;

}

.contact-info p {
    margin: 5px;
    padding: 15px;
    font-weight: bold;
}

.maps {
    margin: 0 auto;
    border: 0;
    display: block;
}

form {
    width: 650px;
    margin: 100px auto;
    padding: 1rem;
    display: grid;
}

form h2 {
    text-align: center;
}

form button {
    width: 100%;
    margin: 0;
}

label,
input,
button,
select,
textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: left;
    padding-right: 1rem;
    margin: 0 0 10px 0;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr;
    margin: 0.5rem 0;
}

.call-to-action {
    margin: 0 auto;
    display: block;
}

.call-to-action p {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    display: block;
}

.call-to-action button {
    margin: 0 auto;
    display: block;
}

.trips-title {
    position: relative;
    top: 10px;
    bottom: 50px;
    margin: 20px auto;
    width: 100%;
    background-color: transparent;
    font-size: 2rem;
    display: block;
    z-index: 1;
    text-align: center;

}

.adventure-title {
    margin-bottom: 20px;
    width: 100%;
}

.adventure-detail {
    margin: 5px;
    padding: 0;
    width: 100%;
}

.adventure-table {
    margin: 0 auto;
    width: 814px;
    height: 452px;
    border-collapse: collapse;
}

.adventure-table td {
    padding: 6px 8px;
    border: 1px solid #c0c0c0;
}

.adventure-table tr:first-child {
    background-color: #e5e5e5;
    font-weight: bold;
    text-align: left;
}

.adventure-table td:first-child {
    width: 303px;
}

.adventure-table td:nth-child(2) {
    width: 456px;
}

.adventure-table td:nth-child(3) {
    width: 240px;
}

.newsletter {
    width: auto;
}

.newsletter form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.newsletter label {
    color: #232323;
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.newsletter input {
    color: #232323;
    margin-right: 10px;
}

.newsletter button {
    width: auto;
    background-color: var(--primary-color);
}

.newsletter button:hover {
    background-color: var(--accent2-color);
}

.thrill-trips {
    text-align: center;
}

.home-trips {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-trips img {
    width: 350px;
}

.home-trips p {
    margin-top: 0;
    width: 450px;
}

.home-trips button {
    margin: 0 auto;
    display: block;
}

.thrill-figs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.thrill-imgs {
    width: 400px;
    margin: 40px;
}

.thrill-detail {
    width: 800px;
    margin: 0 auto;
}

a.button {

    margin: 1rem auto;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 250px;

}