@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

:root {

    --primary-color: #054b63;
    --secondary-color: #fffffa;
    --accent1-color: #44a1a0;
    --accent2-color: #96cac9;
  
    --heading-font: "Rock Salt";
    --paragraph-font: Roboto, Helvetica, sans-serif;
    
    --nav-background-color: #054b63;
    --nav-link-color: #fffffa;
    --nav-hover-link-color: #96cac9;
    --nav-hover-background-color: #44a1a0;

  }

  body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  header {
    padding: 20px;
    background-color: var(--paragraph-background-color);
  }

  p {
    padding: 25px;
  }

  nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
  }
  nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
  }
  nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }