body {
background-color: #737373;
margin: 0;
}

.main-div {
  margin: 0;
  display: block;
  padding: 0;
}

.higher-div {
  width: 100%;
}

.title-img {
  margin: 0;
  width: 100%;
}

.lower-div {
  width: 100%;
  text-align: center;

}

.desk-img {
  margin: 50px;
  width: 200px;
  border-radius: 150px;
  border: 20px solid #292828;
}

.graphic-img {
  margin: 50px;
  width: 200px;
  border-radius: 150px;
  border: 20px solid #292828;
}

.person-img {
  margin: 50px;
  width: 200px;
  border-radius: 150px;
  border: 20px solid #292828;
}
